///// global styles /////
*, *::after, *::before {
    box-sizing: border-box;
  }
  body{
    margin: 0;
    background-image: linear-gradient( 177.5deg,  rgba(149,222,250,1) 8.4%, rgba(0,109,208,1) 105.1% );
    font-family: 'Montserrat', sans-serif;
  }
  @media(min-width:801px){
    .container{
        min-height:calc(100vh - 211px);
        margin: 20px 0;
        overflow: auto;
    }
}
//////////////////////////////////////

@import './deskop.scss';
@import './mobile.scss';
@import './footer.scss';

@import './homeLoggedOut.scss';