@import './main-colors.scss';

.form-create-post, .post-added-information{
    &.flying-component{
        width:95%;  
    }
    min-width: 300px;
    max-width: 700px;
    position: relative;
    background-color: $very-light-blue;
    margin: 0 auto;
    border-radius:15px 15px;
    border:1px solid $dark-blue;

    .btn-1{
        margin: 15px auto 40px;
        background-color: red;
    }

    @media(max-width:540px){
        
        &.flying-component{
            width:100%;  
            border-radius: 0;
        }
        
    }
}
.small-message{
    width:80%;
    padding:0 15px;
    font-size: 13px;
}
.form-create-post-title, .post-added-information-title{
    background-color: $light-blue;
    border-radius:15px 15px 0 0;
    padding:20px 20px 20px 30px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid $dark-blue;
    display: flex;
    justify-content: space-between;
    img{
        width:20px;
        height: 20px;
        cursor: pointer;
    }
    @media(max-width:540px){
        
       border-radius: 0;
        
    }
   
}
.inner-form{  
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    padding:15px 10px;

    label{
        display: block;
        margin: 10px 0;
        font-size: 14px;
    }
    input, textarea{
        border:none;
        resize:none;    
        padding:5px 10px;
        width:90%;
        font-size: 18px;
        border-radius: 5px;

        &:placeholder-shown{
            color:gray;
        }
    }
    textarea{
        margin-bottom: 10px;
        min-height: 90px;
    }
    @media(max-width:700px){
        grid-template-columns: 1fr 1.4fr;
        
    }
    @media(max-width:540px){
        grid-template-columns: 100%;
        width:100%;
        border-radius: 0;
        padding: 0 15px 0 30px;
    }
    
}
.list-of-tags{
   padding:0 5vw;
   display: flex;
   flex-wrap: wrap;
}
@media(max-width:700px){
    .scrollable{
        overflow-y:scroll;
        overflow-x:hidden;
        height:100vh;
        padding-bottom: 70px;
    }
    
}
.tag-to-add{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    color:$very-light-blue;
    padding:0 15px;
    height:35px;
    margin: 10px 10px 10px 0;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;

    &:hover{
        text-decoration: line-through;
        background-color: darken($blue, 25%);
        color:darken($very-light-blue, 18%)
    }
}
.add-tags-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    

    select{
        width: 127px;
        height:30px;
        margin: 0 27px;
        font-size: 17px;
    }
    button{
        width:100px;
        border:none;
        border-radius: 15px;
        background-color: $light-blue;
        color:$dark-blue;
        height:30px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color .2s ease-in, color .2s ease-in;

        &:hover{
            background-color: $light-blue;
            color:$dark-blue;
        }
    }
    @media(max-width:700px){
        select{
            margin: 0 20px 0 10px;
            font-size: 16px;
        }
    }
    @media(max-width:540px){
        select{
            margin: 0 0 0 10px;
            width:100px;
        }
        button{
            margin: 0 0 10px 15px;
        }
    }
}
.img-center{
    text-align: center;
    img{
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }
    @media(max-width:700px){
        img{
            width: 80%;
            height: 80%;
        }
    }
    @media(max-width:540px){
        display: none;
    }
}
.span-input{
    max-width: 500px;
    background-color: red;
    height:500px;
}
textarea{
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.trigger-create-post{
    border-radius: 15px;
    width:95%;
    max-width: 500px;
    margin: 0 auto;
    background-color: $very-light-blue;
    border:1px solid $dark-blue;
}
.trigger-create-post-title{
    border-radius: 15px 15px 0 0;
    padding:10px 20px;
    background-color: $light-blue;
}
.trigger-create-post-inner{
    display: grid;
    grid-template-columns: 80px 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    width:100%;
    color:$dark-blue;
    padding:10px;
    .first{
        text-align: center;
    }
    .second{
        cursor: pointer;
        text-decoration: underline;
    }

    img{
        width:50px;
        height:50px;
        border-radius: 50%;
        border:1px solid $light-blue;
        cursor: pointer;
    }
}
.post-added-information{
    
    max-width: 500px;

    &.flying-component{
        top:-80vh;

        @media(max-width: 540px){
            top:-100vh;
        }
    }

    &-second{
        padding: 0 30px;
        h2{
            font-weight: 500;
            font-size: 23px;
            margin-bottom: 100px;
        }
    }

    @media(max-width: 540px){
        height:100vh;

        &-second{
            h2{
                font-weight: 500;
                font-size: 19px;
                margin: 50px 0;
            }
        }
    }
}