.form-create-post, .post-added-information {
  min-width: 300px;
  max-width: 700px;
  position: relative;
  background-color: #E2F3F5;
  margin: 0 auto;
  border-radius: 15px 15px;
  border: 1px solid #0E153A;
}

.form-create-post.flying-component, .post-added-information.flying-component {
  width: 95%;
}

.form-create-post .btn-1, .post-added-information .btn-1 {
  margin: 15px auto 40px;
  background-color: red;
}

@media (max-width: 540px) {
  .form-create-post.flying-component, .post-added-information.flying-component {
    width: 100%;
    border-radius: 0;
  }
}

.small-message {
  width: 80%;
  padding: 0 15px;
  font-size: 13px;
}

.form-create-post-title, .post-added-information-title {
  background-color: #22D1EE;
  border-radius: 15px 15px 0 0;
  padding: 20px 20px 20px 30px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #0E153A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-create-post-title img, .post-added-information-title img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 540px) {
  .form-create-post-title, .post-added-information-title {
    border-radius: 0;
  }
}

.inner-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
}

.inner-form label {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}

.inner-form input, .inner-form textarea {
  border: none;
  resize: none;
  padding: 5px 10px;
  width: 90%;
  font-size: 18px;
  border-radius: 5px;
}

.inner-form input:placeholder-shown, .inner-form textarea:placeholder-shown {
  color: gray;
}

.inner-form textarea {
  margin-bottom: 10px;
  min-height: 90px;
}

@media (max-width: 700px) {
  .inner-form {
    -ms-grid-columns: 1fr 1.4fr;
        grid-template-columns: 1fr 1.4fr;
  }
}

@media (max-width: 540px) {
  .inner-form {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100%;
    border-radius: 0;
    padding: 15px 15px 5px 30px;
  }
}

.list-of-tags {
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 700px) {
  .scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    padding-bottom: 70px;
  }
}

.tag-to-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3D5AF1;
  color: #E2F3F5;
  padding: 0 15px;
  height: 35px;
  margin: 10px 10px 10px 0;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.tag-to-add:hover {
  text-decoration: line-through;
  background-color: #0c24a3;
  color: #9ed7dd;
}

.add-tags-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 70px;
}

.add-tags-block .bottom-line-input {
  width: 127px;
  margin: 0 27px;
  font-size: 17px;
}

.add-tags-block .bottom-line-input::-webkit-input-placeholder {
  color: #8d8d8d;
  font-style: italic;
}

.add-tags-block .bottom-line-input:-ms-input-placeholder {
  color: #8d8d8d;
  font-style: italic;
}

.add-tags-block .bottom-line-input::-ms-input-placeholder {
  color: #8d8d8d;
  font-style: italic;
}

.add-tags-block .bottom-line-input::placeholder {
  color: #8d8d8d;
  font-style: italic;
}

.add-tags-block button {
  width: 100px;
  border: none;
  border-radius: 15px;
  background-color: #22D1EE;
  color: #0E153A;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: background-color .4s ease-in, color .1s ease-in;
  transition: background-color .4s ease-in, color .1s ease-in;
}

.add-tags-block button:hover {
  background-color: #3D5AF1;
  color: #E2F3F5;
}

@media (max-width: 700px) {
  .add-tags-block .bottom-line-input {
    margin: 0 20px 0 10px;
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .add-tags-block .bottom-line-input {
    margin: 0 0 0 10px;
    width: 100px;
  }
  .add-tags-block button {
    margin: 0 0 0 15px;
  }
}

.img-center {
  text-align: center;
}

.img-center img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .img-center img {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 540px) {
  .img-center {
    display: none;
  }
}

.span-input {
  max-width: 500px;
  background-color: red;
  height: 500px;
}

textarea {
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.trigger-create-post {
  border-radius: 15px;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #E2F3F5;
  border: 1px solid #0E153A;
}

.trigger-create-post-title {
  border-radius: 15px 15px 0 0;
  padding: 10px 20px;
  background-color: #22D1EE;
}

.trigger-create-post-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 15px 15px;
  width: 100%;
  color: #0E153A;
  padding: 10px;
}

.trigger-create-post-inner .first {
  text-align: center;
}

.trigger-create-post-inner .second {
  cursor: pointer;
  text-decoration: underline;
}

.trigger-create-post-inner img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #22D1EE;
  cursor: pointer;
}

.post-added-information {
  max-width: 500px;
}

.post-added-information.flying-component {
  top: -80vh;
}

@media (max-width: 540px) {
  .post-added-information.flying-component {
    top: -100vh;
  }
}

.post-added-information-second {
  padding: 0 30px;
}

.post-added-information-second h2 {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 100px;
}

@media (max-width: 540px) {
  .post-added-information {
    height: 100vh;
  }
  .post-added-information-second h2 {
    font-weight: 500;
    font-size: 19px;
    margin: 50px 0;
  }
}
/*# sourceMappingURL=createPostForm.css.map */