.deskop-filler {
  height: 100px;
}

.deskop-header {
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: #3D5AF1;
  padding: 0 4vw;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.deskop-nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 110px 1fr;
  justify-content: space-around;
  align-items: center;
}

.nav-logo-deskop {
  color: #E2F3F5;
  height: inherit;
  line-height: 85px;
  font-weight: 600;
  font-size: 65px;
  cursor: pointer;
}

.nav-block {
  margin: 0 0 0 auto;
  height: 100%;
}

.nav-block ul {
  padding: 0;
  list-style-type: none;
}

.nav-list {
  height: inherit;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav-list.four {
  grid-template-columns: repeat(4, 1fr);
}

.nav-list.five {
  grid-template-columns: repeat(5, 1fr);
}

.nav-link {
  color: #E2F3F5;
  margin: 0 calc(.5vw + 5px);
  font-size: 1.4rem;
  height: inherit;
}

.nav-link a {
  text-decoration: none;
  color: #E2F3F5;
  height: 100%;
  display: grid;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-link a:hover {
  background-color: #1134ea;
}

.nav-link a img {
  width: 40px;
}

.nav-link a.active {
  text-decoration: underline 2px;
}
