@import './main-colors.scss';

.footer{
    background-color: $dark-blue;
    color:$light-blue;
    height:70px;
    text-align: center;
    line-height: 70px;
    font-size: 1.3rem;
    font-weight: 400;

    p{
        margin: 0;
    }
}