.mobile-header {
  width: 100%;
  position: fixed;
  height: 40px;
  background-color: #3D5AF1;
  padding: 0 5vw;
  z-index: 2;
  border-bottom: 1px solid #0E153A;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.mobile-filler {
  height: 40px;
}

.mobile-nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70px calc(100% - 70px);
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-logo-mobile {
  color: #E2F3F5;
  font-size: 25px;
  height: inherit;
  line-height: 35px;
  cursor: pointer;
}

.hamburger {
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border: 0;
  margin: 0 0 0 auto;
}

.hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #E2F3F5;
  left: 0;
  top: calc(50% - 1.5px);
  transition: background-color .3s .1s ease-in-out;
}

.hamburger-inner.active {
  background-color: transparent;
}

.hamburger-inner.active::before {
  transform: translateY(9px) rotate(45deg);
}

.hamburger-inner.active::after {
  transform: translateY(-7px) rotate(-45deg);
}

.hamburger-inner::before, .hamburger-inner::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #E2F3F5;
  left: 0;
  transition: transform .3s .1s ease-in-out;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  top: 8px;
}

.navigation {
  position: fixed;
  top: 41px;
  height: calc(100vh - 41px);
  background-color: #3D5AF1;
  width: 100%;
  max-width: 300px;
  left: -300px;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s cubic-bezier(0.26, 0.1, 1, -0.16);
  overflow-y: scroll;
  overflow-x: hidden;
}

.navigation.active {
  transform: translateX(300px);
}

.navigation-list {
  display: grid;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  height: 100%;
  min-height: 500px;
}

.navigation-list a {
  cursor: pointer;
  text-decoration: none;
  color: #E2F3F5;
  font-size: 1.7rem;
}

.navigation-item {
  text-align: center;
  border-bottom: 2px solid #506af2;
  padding-bottom: 8px;
  width: 260px;
}
