@import './main-colors.scss';


main.post-details{
        background-color: rgba(149,222,250,1);
        background-image: none;
    
}
.post-details{
    &.container{
        margin:0;
       
    }
    
    
    &.single-post-tag-list{
        margin-top: 40px;

        .single-post-tag{
            height:30px;
            padding:10px 25px;
            font-size: 15px;
            border:1px solid $light-blue;
            cursor: pointer;
        }
    }
}

.post-details{
    &-wrapper{
        background-color: $light-blue;
    }
    &-presence{
        background-color: $dark-blue;
        padding:40px 0;
        color:$light-blue;
        border-bottom-right-radius: 220px;

        &-inner{
            width:100%;
            max-width: 800px;
            margin-left: 20vw;

            &-h1{
               font-size: 50px;
               font-weight: 500;
            }

            &-author{
                display: flex;
                line-height: 40px;
                align-items: center;

                &-text{
                    margin:0 15px;

                    b{
                        font-weight: 500;
                        font-size: 19px;
                    }
                }
                &-img{
                    img{
                        width:100px;
                        border-radius: 50%;
                        margin-right: 20px;
                    }          
                }
            }
        }
    }

    &-author-ad{
        height:50px;
        padding-left: 20vw;
        color:$dark-blue;
        border-bottom: 1px solid $dark-blue;
        
        h2{
            font-weight: 500;
        }
    }
    &-content-and-sidebar{
        display: grid;
        grid-template-columns: 60% 40%;
        padding:0 20vw;
    }
    &-content{
        padding:6vw 20px 40px;
        font-size: 20px;
    }
    &-sidebar{

    }
}