main.post-details {
  background-color: #95defa;
  background-image: none;
}

.post-details.container {
  margin: 0;
}

.post-details.single-post-tag-list {
  margin-top: 40px;
}

.post-details.single-post-tag-list .single-post-tag {
  height: 30px;
  padding: 10px 25px;
  font-size: 15px;
  border: 1px solid #22D1EE;
  cursor: pointer;
}

.post-details-wrapper {
  background-color: #22D1EE;
}

.post-details-presence {
  background-color: #0E153A;
  padding: 40px 0;
  color: #22D1EE;
  border-bottom-right-radius: 220px;
}

.post-details-presence-inner {
  width: 100%;
  max-width: 800px;
  margin-left: 20vw;
}

.post-details-presence-inner-h1 {
  font-size: 50px;
  font-weight: 500;
}

.post-details-presence-inner-author {
  display: flex;
  line-height: 40px;
  align-items: center;
}

.post-details-presence-inner-author-text {
  margin: 0 15px;
}

.post-details-presence-inner-author-text b {
  font-weight: 500;
  font-size: 19px;
}

.post-details-presence-inner-author-img img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.post-details-author-ad {
  height: 50px;
  padding-left: 20vw;
  color: #0E153A;
  border-bottom: 1px solid #0E153A;
}

.post-details-author-ad h2 {
  font-weight: 500;
}

.post-details-content-and-sidebar {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0 20vw;
}

.post-details-content {
  padding: 6vw 20px 40px;
  font-size: 20px;
}
