@import './main-colors.scss';


main.post-details{
        background-color: rgba(149,222,250,1);
        background-image: none;
    
}
.post-details{
    &.container{
        margin:0;
       
    }
    
    
    &.single-post-tag-list{
        margin-top: 40px;

        .single-post-tag{
            height:30px;
            padding:10px 25px;
            font-size: 15px;
            border:1px solid $light-blue;
            cursor: pointer;
        }
    }
}

.post-details{
    &-wrapper{
        background-color: $light-blue;
    }
    &-presence{
        background-color: $dark-blue;
        padding:40px 0;
        color:$light-blue;
        border-bottom-right-radius: 220px;

        a{
            text-decoration: none;
            color:$light-blue;

            &:hover{
                color:$very-light-blue; 
            }
        }

        &-inner{
            width:100%;
            max-width: 800px;
            margin-left: 20vw;

            &-h1{
               font-size: 50px;
               font-weight: 500;
            }

            &-author{
                display: flex;
                line-height: 40px;
                align-items: center;

                &-text{
                    margin:0 15px;

                    b{
                        font-weight: 500;
                        font-size: 19px;
                    }
                }
                &-img{
                    img{
                        width:100px;
                        border-radius: 50%;
                        margin-right: 20px;
                    }          
                }
            }
        }
    }

    &-author-ad{
        height:50px;
        padding-left: 20vw;
        color:$dark-blue;
        border-bottom: 1px solid $dark-blue;
        
        h2{
            font-weight: 500;
        }
    }
    &-content-and-sidebar{
        display: grid;
        grid-template-columns: 70% 30%;
        padding:4vw 20vw;
    }
    &-content{
        padding:0 20px ;
        font-size: 20px;
        font-weight: 500;
    }
    &-sidebar{
        position: relative;
    }
 
    &-advert-block{
        font-size: 14px;
        background-color: $blue;
        border:6px solid $dark-blue;
        color:$very-light-blue;
        padding:15px;
        height:550px;
        width:340px;
    }

    &-comment-block{
        width:100%;
        padding: 40px 0 40px 20vw;
        background-color: $blue;

        &-inner{
            max-width: 650px;
        }

        h1{
            color:$very-light-blue;
            font-size: 40px;
            margin-top: 0;
        }
    }

    &-comment-list{
        margin-top: 70px;
        span{
            color:$very-light-blue;
        }
    }
}
pre {
    white-space: pre-wrap;     
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;     
    white-space: -o-pre-wrap;   

    word-wrap: break-word;     
    margin: 0; 
}
.no-comments{
    color:$very-light-blue;
}

.flying-axe{
    position: fixed;
    top:120px;
    right:20%;
}
.flying-axe-stay-down{
    position: absolute;
    bottom: 0;
}