.single-post {
  background-color: #E2F3F5;
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  border: 1px solid #3796a1;
  margin: 15px auto;
  padding: 5px 30px 30px;
}

.single-post-tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.single-post-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3D5AF1;
  color: #E2F3F5;
  padding: 0 10px;
  height: 25px;
  font-size: 12px;
  margin: 10px 10px 10px 0;
  border-radius: 25px;
  text-align: center;
}

.single-post-author {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px calc(100% - 150px);
      grid-template-columns: 150px calc(100% - 150px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-post-author-img img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.single-post-author-text {
  font-size: 30px;
  color: #0E153A;
}

.single-post-line {
  width: 100%;
  height: 1px;
  margin: 20px auto;
  background-color: #0E153A;
}

.single-post-title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  background-color: #3D5AF1;
  color: #E2F3F5;
  padding: 20px;
  border-radius: 3px;
}

.single-post-title:hover {
  background-color: #1c3eef;
}

.single-post-content {
  padding: 0 25px;
  font-weight: 500;
  font-size: 22px;
  color: #0E153A;
  max-height: 408px;
  overflow: hidden;
  position: relative;
}

.single-post-content-inner-overflowed {
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 40px;
  background-color: #E2F3F5;
  padding-top: 8px;
  font-size: 24px;
}

.single-post-content-inner-overflowed a {
  -webkit-text-decoration-style: initial;
          text-decoration-style: initial;
}

.single-post-content-inner-overflowed a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .single-post {
    padding: 5px 10px 30px;
  }
  .single-post-title {
    font-size: 30px;
    padding: 10px;
  }
  .single-post-author-text {
    font-size: 25px;
  }
  .single-post-content {
    padding: 0 15px;
    font-size: 20px;
  }
  .single-post-tag-list {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .single-post-line {
    margin: 10px auto;
  }
  .single-post-title {
    font-size: 25px;
  }
  .single-post-author-text {
    font-size: 20px;
  }
  .single-post-content {
    font-size: 16px;
    padding: 12px 6px 8pxf;
  }
}

a.link-to-post {
  text-decoration: none;
}

.info-about-reach {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 0 10px;
}

.info-about-reach .second {
  text-align: center;
}

.info-about-reach .third {
  text-align: right;
}

@media (max-width: 400px) {
  .info-about-reach {
    -ms-grid-columns: 30% 40% 30%;
        grid-template-columns: 30% 40% 30%;
    font-size: 14px;
  }
}

.under-content-block {
  margin-top: 40px;
  font-size: 15px;
}

.react-on-post-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(33% - 2px) 3px calc(33% - 2px) 3px calc(33% - 2px);
      grid-template-columns: calc(33% - 2px) 3px calc(33% - 2px) 3px calc(33% - 2px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
}

.react-on-post-block-vertical-line {
  height: 30px;
  background-color: lightgray;
  width: 1px;
  margin: 0 auto;
}

.react-on-post-block-text-and-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}

.react-on-post-block-text-and-img:hover {
  background-color: #c4e6eb;
}

.react-on-post-block-img {
  margin-right: 15px;
}

.react-on-post-block-text {
  position: relative;
}

@media (max-width: 600px) {
  .react-on-post-block {
    -ms-grid-columns: calc(31% - 2px) 3px calc(38% - 2px) 3px calc(31% - 2px);
        grid-template-columns: calc(31% - 2px) 3px calc(38% - 2px) 3px calc(31% - 2px);
  }
  .react-on-post-block-text-and-img {
    font-size: 16px;
  }
  .react-on-post-block-text-and-img img {
    width: 20px;
    height: 20px;
  }
  .react-on-post-block-img {
    margin-right: 5px;
  }
}

@media (max-width: 400px) {
  .react-on-post-block-text-and-img {
    font-size: 13px;
  }
  .react-on-post-block-text-and-img img {
    width: 15px;
    height: 15px;
  }
}

.comment-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

@media (max-width: 550px) {
  .comment-it {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.comment-it-user-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

@media (max-width: 550px) {
  .comment-it-user-img {
    display: none;
  }
}

.comment-it-user-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  width: 100%;
}

@media (max-width: 550px) {
  .comment-it-user-input {
    -ms-grid-columns: calc(100% - 90px) 90px;
        grid-template-columns: calc(100% - 90px) 90px;
  }
}

.comment-it-input {
  width: 100%;
  height: 40px;
  border-radius: 20px 0 0 20px;
  border: none;
  border: 1px solid #0E153A;
  border-right: none;
  background-color: #bce3e8;
  padding: 5px 14px;
  font-size: 16px;
  font-weight: 500;
}

.comment-it-input:focus {
  outline-style: none;
  background-color: #a9dbe1;
}

.add-comment-btn {
  background-color: #22D1EE;
  border: none;
  border: 1px solid #0E153A;
  border-right: none;
  border-radius: 0 20px 20px 0;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-color .4s ease-in-out, color .1s ease-in-out;
  transition: background-color .4s ease-in-out, color .1s ease-in-out;
}

.add-comment-btn:active {
  font-weight: 700;
}

.add-comment-btn:hover {
  background-color: #3D5AF1;
  color: #E2F3F5;
}

@-webkit-keyframes FadingNoYouDoNot {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadingNoYouDoNot {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.no-you-do-not {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: #22D1EE;
  border: 2px solid #0E153A;
  top: -78px;
  -webkit-animation-name: FadingNoYouDoNot;
          animation-name: FadingNoYouDoNot;
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.no-you-do-not .triangle {
  content: '';
  border-top: 0 solid #22D1EE;
  border-left: 0 solid #22D1EE;
  border-bottom: 0 solid transparent;
  border-right: 0 solid transparent;
  width: 10px;
  border-top-width: 15px;
  border-bottom-width: 15px;
  border-right-width: 15px;
  border-left-width: 15px;
  position: absolute;
  bottom: -20px;
  left: 20px;
}

.no-you-do-not .triangle::before {
  content: '';
  width: 2px;
  background-color: #0E153A;
  position: absolute;
  height: 21px;
  left: -15px;
  top: -5px;
}

.no-you-do-not .triangle::after {
  content: '';
  width: 2px;
  background-color: #0E153A;
  position: absolute;
  height: 27px;
  left: -5px;
  top: -8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.single-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.single-comment-wrapper {
  margin: 20px 0;
}

.single-comment-user-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

@media (max-width: 550px) {
  .single-comment-user-img img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }
}

.single-comment-text {
  border-radius: 25px;
  background-color: #bce3e8;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
}

.single-comment-text b {
  margin-right: 10px;
}

.react-to-comment {
  margin-top: 5px;
  padding-left: 70px;
}

@media (max-width: 550px) {
  .react-to-comment {
    padding-left: 42px;
    font-size: 14px;
  }
}

.span-margin {
  margin: 0 20px;
}

.span-hover {
  cursor: pointer;
}

.span-hover:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=singlePost.css.map */