.user-profile-block {
  display: grid;
  grid-template-columns: 23% 43% calc(34% - 48px);
  column-gap: 24px;
  padding: 20px;
}

.user-profile-block-child-1 {
  border-radius: 1rem;
  background-color: #E2F3F5;
  color: #0E153A;
  padding: 2vw 1.8vw 2vw 2vw;
  max-height: 750px;
  overflow: hidden;
  border: 1px solid #3796a1;
}

.user-profile-block-child-1-inner-scroll {
  overflow: auto;
  max-height: calc(750px - 4vw);
}

.user-profile-block-user-text-and-img {
  margin-bottom: 45px;
  text-align: center;
}

.user-profile-block-user-text-and-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.user-profile-block-user-text-and-img h1 {
  display: block;
  background-color: #3D5AF1;
  color: #E2F3F5;
  border-radius: 1rem;
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
  border: 1px solid #0E153A;
}

.user-profile-block-about-user {
  border-radius: 1rem;
  background-color: #95defa;
  padding: 1px 10px;
  margin: 20px 0;
  border: 1px solid #3796a1;
}

.user-profile-block-about-user h2 {
  font-size: 20px;
  font-weight: 500;
}

.user-profile-block-child-2 {
  max-height: 750px;
  overflow: auto;
}

.user-profile-block-child-2-title {
  border: 1rem;
  text-align: center;
  background-color: #E2F3F5;
  color: #0E153A;
  font-size: 40px;
  border-radius: 1rem;
  padding: 30px;
  border: 1px solid #3796a1;
  margin-bottom: 8px;
}

.user-profile-block-child-2-inner-post-list {
  max-height: 614px;
  overflow: auto;
  border-radius: 1rem;
  padding-right: 5px;
}
