.user-profile-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(40% - 194px) calc(60% - 194px) 340px;
      grid-template-columns: calc(40% - 194px) calc(60% - 194px) 340px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  padding: 20px;
  max-width: 1700px;
}

.user-profile-block-child-1 {
  border-radius: 1rem;
  background-color: #E2F3F5;
  color: #0E153A;
  padding: 2vw 1.8vw 2vw 2vw;
  max-height: 750px;
  overflow-y: hidden;
  border: 1px solid #3796a1;
  max-width: 500px;
}

.user-profile-block-child-1-inner-scroll {
  overflow: auto;
  max-height: calc(750px - 4vw);
  scroll-behavior: smooth;
}

.user-profile-block-user-text-and-img {
  margin-bottom: 45px;
  text-align: center;
}

.user-profile-block-user-text-and-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.user-profile-block-user-text-and-img h1 {
  display: block;
  background-color: #3D5AF1;
  color: #E2F3F5;
  border-radius: 1rem;
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
  border: 1px solid #0E153A;
}

.user-profile-block-about-user {
  border-radius: 1rem;
  background-color: #95defa;
  padding: 1px 10px;
  margin: 20px 0;
  border: 1px solid #3796a1;
}

.user-profile-block-about-user h2 {
  font-size: 20px;
  font-weight: 500;
}

.user-profile-block-child-2 {
  max-height: 750px;
  overflow: auto;
}

.user-profile-block-child-2-title {
  border: 1rem;
  text-align: center;
  background-color: #E2F3F5;
  color: #0E153A;
  font-size: 40px;
  border-radius: 1rem;
  padding: 30px;
  border: 1px solid #3796a1;
  margin: 0 auto 8px;
}

.user-profile-block-child-2-inner-post-list {
  max-height: 631px;
  overflow: auto;
  border-radius: 1rem;
}

@media (max-width: 1300px) {
  .user-profile-block {
    -ms-grid-columns: 36% calc(64% - 24px);
        grid-template-columns: 36% calc(64% - 24px);
  }
}

@media (max-width: 1000px) {
  .user-profile-block {
    -ms-grid-columns: 30% calc(70% - 24px);
        grid-template-columns: 30% calc(70% - 24px);
  }
  .user-profile-block-about-user h2 {
    font-size: 18px;
  }
  .user-profile-block-user-text-and-img img {
    width: 150px;
    height: 150px;
  }
  .user-profile-block-user-text-and-img h1 {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .user-profile-block {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .user-profile-block-child-1 {
    margin: 0 auto;
    max-height: none;
  }
  .user-profile-block-child-1-inner-scroll {
    max-height: none;
  }
  .user-profile-block-child-2 {
    margin: 0 auto;
    max-height: none;
  }
  .user-profile-block-child-2-inner-post-list {
    max-height: none;
  }
}

@media (max-width: 600px) {
  .user-profile-block {
    padding: 10px 0;
  }
  .user-profile-block-child-2-title {
    border-radius: 0;
    font-size: 30px;
  }
}

#settings {
  scroll-behavior: smooth;
}

.flying-block-go-back.change-block {
  display: none;
  right: 0;
  z-index: 2;
  -webkit-transition: -webkit-transform ease-in-out .5s;
  transition: -webkit-transform ease-in-out .5s;
  transition: transform ease-in-out .5s;
  transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.flying-block-go-back.change-block.first.dormant, .flying-block-go-back.change-block.first.hidden-flag {
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
}

.flying-block-go-back.change-block.second {
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

.flying-block-go-back.change-block.second.dormant, .flying-block-go-back.change-block.second.hidden-flag {
  -webkit-transform: translate(100px, 50px);
          transform: translate(100px, 50px);
}

.flying-block-go-back.change-block.third {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

.flying-block-go-back.change-block.third.dormant, .flying-block-go-back.change-block.third.hidden-flag {
  -webkit-transform: translate(100px, 100px);
          transform: translate(100px, 100px);
}

@media (max-width: 900px) {
  .flying-block-go-back.change-block.second, .flying-block-go-back.change-block.third {
    display: initial;
  }
}

@media (max-width: 1300px) {
  .flying-block-go-back.change-block.first {
    display: initial;
  }
}

@media (max-width: 900px) {
  .disabled {
    display: none;
  }
}

@media (max-width: 900px) {
  .flying-block-hide-flag, .flying-block-show-flag {
    position: fixed;
    right: 0;
    width: 40px;
    height: 25px;
    background-color: #0E153A;
    border: 1px solid #22D1EE;
    color: #22D1EE;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 500;
    z-index: 2;
    top: calc(16vw + 150px);
  }
}

.post-details-advert-block.sword {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  right: 0;
  width: 100%;
  text-align: center;
  height: auto;
}

@media (max-width: 600px) {
  .post-details-advert-block.sword {
    font-size: 14px;
  }
  .post-details-advert-block.sword img {
    width: 100%;
  }
}
/*# sourceMappingURL=user.css.map */